body {
  background-color: #393232;
  font-family: 'Oxygen', sans-serif;
  height: 500px;
  color:#F2EDD7;

}

/**Taskbar**/
.taskbar-column {
  width:100%;
  background-color: #3A6351;
  box-shadow: 0 0.3rem rgb(46,79,65,0.5);
  z-index: 1;
}
.navbar{
  padding:0;
}
.navbar-brand {
  color:#F2EDD7;
  font-size: 1.9rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin-left: 5rem;
  transition:all 0.5s
}

.navbar-brand:hover{
  color:#E48257;
  transform: scale(1.1,1.1);

}
.navbar-nav{
  margin-left: auto;
  margin-right: 5rem;
}

.nav-item {
  font-family: 'Oxygen', sans-serif;
  margin: 0 0 0 1rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.nav-link{
  color:#F2EDD7;
  transition: all 0.5s;
}

.nav-link:hover{
  color:#E48257;
  transform: scale(1.1,1.1);
}

.active > .nav-link{
  background-color: #F2EDD7;
  font-weight: bold;
  color:#3A6351;
}

.navbar-toggler{
  border:solid;
  border-width: 0.02rem;
  border-color:#F2EDD7;
  border-radius: 0;
  margin-right: 1rem;
  margin-left: auto;
  width:2.5rem;
  height:2.5rem;
  padding:0;
  padding-top:0.5rem;

}
.navbar-toggler i{
  color:#F2EDD7;
  margin:auto;
}

#navbarNavDropdown{
  margin-left: 4rem;
}
/**Text color**/
.text {
  color: #F2EDD7;
  text-align: center;
  padding: 0;
}



/**Heading**/
.title {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color:#F2EDD7;
  animation: flydown 1s;
  padding-top:10rem;
}

.big-heading {
  font-weight: bolder;
  font-size: 5.2rem;
  margin: auto;
  margin-bottom: 2rem;
}

.small-heading {
  font-weight: lighter;
  font-size: 1.5rem;
}

.small-heading .second{
  margin-bottom: 2rem;
}

/**Explore Button**/
.explore-button  {
  font-size: 1rem;
  background: linear-gradient(to right, #E48257 10%, #393232 100%);
  background-size: 400%;
  background-position: right;
  padding: 0.5rem 1rem;
  height: 4rem;
  width: 10rem;
  margin:auto;
  margin-top: 2rem;
  border: solid;
  font-weight: bold;
  border-width: 0.02rem;
  border-color: #F2EDD7;
  transition: all 1s ease-out;
  cursor:pointer;
}

.explore-button a{
  color: #F2EDD7;
}
.explore-button a:hover{
  text-decoration: none;
}


.explore-button:hover {
  background-position: left;
  text-decoration: none;
  color: #F2EDD7;
  cursor:pointer;
}

/**Animations**/
@keyframes flydown {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
